<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJigHeZaG1l1qzriy7wUocAwYoAQd-Aws</string>
	<key>GCM_SENDER_ID</key>
	<string>1088383217233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>il.kmi.KMI-iOS</string>
	<key>PROJECT_ID</key>
	<string>app-1c22cc8d</string>
	<key>STORAGE_BUCKET</key>
	<string>app-1c22cc8d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088383217233:ios:052a32a11b8c8e097a5270</string>
</dict>
</plist>